#container{
    min-height: 100vh;
    position: relative;
}
#clock{
    
    font-size: 5rem;
    background-color: #333333;
    color: #fff;
    min-width: 40vw;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
